<a href="https://colab.research.google.com/github/kseniagorska/talent_retention/blob/main/GC_predicting_employee_attrition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicting Employees Attrition

Applying deep learning models to predict whether an employee is likely to depart from a company.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

---

## Preprocess the data.

### Step 1: Read the `HR-Employee-Attrition.csv` file from the Resources folder and create a DataFrame.

In [ ]:
# Upload HR-Employee-Attrition.csv to Colab
from google.colab import files

csv_file = files.upload()

In [3]:
# Read the HR-Employee-Attrition.csv file into a Pandas DataFrame
employee_df = pd.read_csv("./HR-Employee-Attrition.csv")

### Step 2: Review the resulting DataFrame. Check the data type associated with each column to identify categorical and non-categorical variables.

> **Hint** Recall that categorical variables have an `object` data type.

In [4]:
# Review the DataFrame
employee_df.head()

   Age Attrition  ... YearsSinceLastPromotion  YearsWithCurrManager
0   41       Yes  ...                       0                     5
1   49        No  ...                       1                     7
2   37       Yes  ...                       0                     0
3   33        No  ...                       3                     0
4   27        No  ...                       2                     2

[5 rows x 35 columns]

In [6]:
# Review the data types associated with the columns
employee_df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

### Step 3: Create a list of categorical variables.

In [7]:
# Create a list of categorical variables 
categorical_variables = list(employee_df.dtypes[employee_df.dtypes=='object'].index)

# Display the categorical variables list
categorical_variables

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

### Step 4: Use the `OneHotEncoder` module from scikit-learn to encode the data set's categorical variables.

In [8]:
# Imports
from sklearn.preprocessing import OneHotEncoder

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)
# Encode categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(employee_df[categorical_variables])

In [10]:
# Create a DataFrame with the encoded variables
# The column names should match those of the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns= enc.get_feature_names(categorical_variables)
)

# Display the DataFrame
encoded_df.head()

   Attrition_No  Attrition_Yes  ...  OverTime_No  OverTime_Yes
0           0.0            1.0  ...          0.0           1.0
1           1.0            0.0  ...          1.0           0.0
2           0.0            1.0  ...          0.0           1.0
3           1.0            0.0  ...          0.0           1.0
4           1.0            0.0  ...          1.0           0.0

[5 rows x 31 columns]

### Step 5: Create a new DataFrame named `attrition_df` that contains the encoded categorical variables and the numerical variables from the original dataset.

In [11]:
# Create a DataFrame with the columnns containing numerical variables from the original dataset
numerical_variables_df = employee_df.drop(columns= categorical_variables)

# Review the DataFrame
numerical_variables_df.head()

   Age  DailyRate  ...  YearsSinceLastPromotion  YearsWithCurrManager
0   41       1102  ...                        0                     5
1   49        279  ...                        1                     7
2   37       1373  ...                        0                     0
3   33       1392  ...                        3                     0
4   27        591  ...                        2                     2

[5 rows x 26 columns]

In [16]:
# Using the Pandas concat function, combine the DataFrames the contain the encoded categorical data and the numerical data
attrition_df = pd.concat([ numerical_variables_df, encoded_df], axis=1)

# Reveiw the DataFrame
attrition_df.head()

   Age  DailyRate  DistanceFromHome  ...  Over18_Y  OverTime_No  OverTime_Yes
0   41       1102                 1  ...       1.0          0.0           1.0
1   49        279                 8  ...       1.0          1.0           0.0
2   37       1373                 2  ...       1.0          0.0           1.0
3   33       1392                 3  ...       1.0          0.0           1.0
4   27        591                 2  ...       1.0          1.0           0.0

[5 rows x 57 columns]

### Step 6: Use `attrition_df` to create the features (`X`) and target (`y`) sets. 

    * In this activity, we want to build a model that predicts whether a person is at risk for attrition. So, we must separate the attrition columns from the rest of the input data. In fact, because the attrition data is binary (one of two values), we only need to keep the “Attrition_Yes” column. We can ignore the “Attrition_No” column, because it is redundant. So, the “Attrition_Yes” column will become the target set `y`.

    * The rest of the DataFrame columns will become the features set `X`.

In [17]:
# Define the target set y using the Attrition_Yes column
y = attrition_df["Attrition_Yes"]

# Display a sample of y
y[:5]

0    1.0
1    0.0
2    1.0
3    0.0
4    0.0
Name: Attrition_Yes, dtype: float64

In [18]:
# Define features set X by selecting all columns but Attrition_Yes and Attrition_No
X = attrition_df.drop(columns= ["Attrition_Yes", "Attrition_No"])

# Review the features DataFrame
X.head()

   Age  DailyRate  DistanceFromHome  ...  Over18_Y  OverTime_No  OverTime_Yes
0   41       1102                 1  ...       1.0          0.0           1.0
1   49        279                 8  ...       1.0          1.0           0.0
2   37       1373                 2  ...       1.0          0.0           1.0
3   33       1392                 3  ...       1.0          0.0           1.0
4   27        591                 2  ...       1.0          1.0           0.0

[5 rows x 55 columns]

### Step 7: Create the training and testing sets using the `train_test_split` function from scikit-learn.

In [19]:
# Split the data into training and testing datasets
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 8: Use scikit-learn’s `StandardScaler` to standardize the numerical features.

In [21]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Scale both the training and testing data from the features dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Create a Neural Network Model to Predict Employee Attrition

### Step 1: Use the optimization techniques presented in this lesson to create a deep neural network model with two hidden layers.

    * Set a variable `number_input_features` equal to the number of input features.

    * Set a variable `hidden_nodes_layer1` equal to an integer number close to the mean of the number of input features and the number of neurons in the output layer.

    * Set a variable `hidden_nodes_layer2` equal to an integer number close to the mean of the number of hidden nodes defined for the first layer and the number of neurons in the output layer.

    * Add the model’s layers, and use the `relu` activation function for each hidden layer.

    * This model will predict a binary output. So, add an output layer with one neuron, and use the `sigmoid` activation function.

> **Hint** To set the number of input features, you can fetch the length of the first element, like this: `number_input_features = len(X_train.iloc[0])`.

In [24]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Define the number of hidden nodes for the first hidden layer
# Use the mean of the number of input features plus the number of output nurons
# Use the Python floor division (//) to return the quotent
hidden_nodes_layer1 = (number_input_features + 1) // 2 

# Define the number of hidden nodes for the second hidden layer
# Use the mean of the number of hidden nodes in the first hidden layer plus the number of output nurons
# Use the Python floor division (//) to return the quotent
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Create the Sequential model instance
nn = Sequential()

# Add the first hidden layer specifying the number of inputs, the number of hidden nodes, and the activation function
nn.add(Dense( input_dim=number_input_features,units=hidden_nodes_layer1, activation="relu"))
# Add the second hidden layer specifying the number of hidden nodes and the activation function
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

### Step 2: Display the structure of your model using the `summary` function.

In [25]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 28)                1568
_________________________________________________________________
dense_1 (Dense)              (None, 14)                406
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 15
=================================================================
Total params: 1,989
Trainable params: 1,989
Non-trainable params: 0
_________________________________________________________________

### Step 3: Compile the model. Use the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` metric.

In [26]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer= "adam", metrics= ["accuracy"])

---

## Train and Evaluate the Neural Network Model

### Step 1: Train (fit) the neural network model. Use the training data and set 100 epochs.

In [27]:
# Fit the model using 100 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs= 100)

Epoch 1/100
35/35 [==============================] - 1s 2ms/step - loss: 0.6102 - accuracy: 0.6615
Epoch 2/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4206 - accuracy: 0.8485
Epoch 3/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3652 - accuracy: 0.8621
Epoch 4/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3317 - accuracy: 0.8730
Epoch 5/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3073 - accuracy: 0.8793
Epoch 6/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2883 - accuracy: 0.8902
Epoch 7/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2720 - accuracy: 0.8975
Epoch 8/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2584 - accuracy: 0.9002
Epoch 9/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2479 - accuracy: 0.9029
Epoch 10/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2378 - accuracy: 0.9065
Epoch 11/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2286 - accuracy: 0.9065
Epoch 12/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2187 - accuracy: 0.9156
Epoch 13/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2121 - accuracy: 0.9165
Epoch 14/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2047 - accuracy: 0.9201
Epoch 15/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1974 - accuracy: 0.9211
Epoch 16/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1902 - accuracy: 0.9256
Epoch 17/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1841 - accuracy: 0.9238
Epoch 18/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1783 - accuracy: 0.9274
Epoch 19/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1703 - accuracy: 0.9347
Epoch 20/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1646 - accuracy: 0.9310
Epoch 21/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1601 - accuracy: 0.9383
Epoch 22/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1541 - accuracy: 0.9410
Epoch 23/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1471 - accuracy: 0.9428
Epoch 24/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1429 - accuracy: 0.9446
Epoch 25/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1381 - accuracy: 0.9465
Epoch 26/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1328 - accuracy: 0.9492
Epoch 27/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1272 - accuracy: 0.9546
Epoch 28/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1243 - accuracy: 0.9519
Epoch 29/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1199 - accuracy: 0.9537
Epoch 30/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1159 - accuracy: 0.9564
Epoch 31/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1088 - accuracy: 0.9619
Epoch 32/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1034 - accuracy: 0.9664
Epoch 33/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1004 - accuracy: 0.9673
Epoch 34/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0969 - accuracy: 0.9655
Epoch 35/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0894 - accuracy: 0.9746
Epoch 36/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0869 - accuracy: 0.9773
Epoch 37/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0819 - accuracy: 0.9764
Epoch 38/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0793 - accuracy: 0.9791
Epoch 39/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0751 - accuracy: 0.9828
Epoch 40/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0693 - accuracy: 0.9846
Epoch 41/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0666 - accuracy: 0.9846
Epoch 42/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0639 - accuracy: 0.9864
Epoch 43/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0583 - accuracy: 0.9882
Epoch 44/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0557 - accuracy: 0.9891
Epoch 45/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0529 - accuracy: 0.9882
Epoch 46/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0502 - accuracy: 0.9909
Epoch 47/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0473 - accuracy: 0.9936
Epoch 48/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0456 - accuracy: 0.9909
Epoch 49/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0422 - accuracy: 0.9946
Epoch 50/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0404 - accuracy: 0.9955
Epoch 51/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0387 - accuracy: 0.9973
Epoch 52/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0363 - accuracy: 0.9973
Epoch 53/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0342 - accuracy: 0.9982
Epoch 54/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0324 - accuracy: 0.9991
Epoch 55/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0314 - accuracy: 0.9982
Epoch 56/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0288 - accuracy: 0.9991
Epoch 57/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0275 - accuracy: 0.9991
Epoch 58/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0258 - accuracy: 1.0000
Epoch 59/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0243 - accuracy: 0.9991
Epoch 60/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0239 - accuracy: 1.0000
Epoch 61/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0223 - accuracy: 1.0000
Epoch 62/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0210 - accuracy: 1.0000
Epoch 63/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0197 - accuracy: 1.0000
Epoch 64/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0191 - accuracy: 1.0000
Epoch 65/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0178 - accuracy: 1.0000
Epoch 66/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0168 - accuracy: 1.0000
Epoch 67/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0162 - accuracy: 1.0000
Epoch 68/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0152 - accuracy: 1.0000
Epoch 69/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0149 - accuracy: 1.0000
Epoch 70/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0141 - accuracy: 1.0000
Epoch 71/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0133 - accuracy: 1.0000
Epoch 72/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0126 - accuracy: 1.0000
Epoch 73/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0119 - accuracy: 1.0000
Epoch 74/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0113 - accuracy: 1.0000
Epoch 75/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0107 - accuracy: 1.0000
Epoch 76/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0105 - accuracy: 1.0000
Epoch 77/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0100 - accuracy: 1.0000
Epoch 78/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0093 - accuracy: 1.0000
Epoch 79/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0089 - accuracy: 1.0000
Epoch 80/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0086 - accuracy: 1.0000
Epoch 81/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0083 - accuracy: 1.0000
Epoch 82/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0078 - accuracy: 1.0000
Epoch 83/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0076 - accuracy: 1.0000
Epoch 84/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0071 - accuracy: 1.0000
Epoch 85/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0068 - accuracy: 1.0000
Epoch 86/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0065 - accuracy: 1.0000
Epoch 87/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0062 - accuracy: 1.0000
Epoch 88/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0061 - accuracy: 1.0000
Epoch 89/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0057 - accuracy: 1.0000
Epoch 90/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0055 - accuracy: 1.0000
Epoch 91/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0052 - accuracy: 1.0000
Epoch 92/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0049 - accuracy: 1.0000
Epoch 93/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0048 - accuracy: 1.0000
Epoch 94/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0046 - accuracy: 1.0000
Epoch 95/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0044 - accuracy: 1.0000
Epoch 96/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0042 - accuracy: 1.0000
Epoch 97/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0041 - accuracy: 1.0000
Epoch 98/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0039 - accuracy: 1.0000
Epoch 99/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0037 - accuracy: 1.0000
Epoch 100/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0036 - accuracy: 1.0000

### Step 2: Evaluate the model using the test data to determine its loss and accuracy.

In [28]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 1.0395 - accuracy: 0.8370
Loss: 1.039480447769165, Accuracy: 0.8369565010070801

### Step 3: Save and export your model to an HDF5 file. Name the file `employee_attrition.h5`.

In [29]:
# Set the model's file path
file_path = "employee_attrition.h5"

# Export your model to a HDF5 file
nn.save(file_path)